<link rel="stylesheet" href="../stylesheets/adminstyle.css" type="text/css">
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="/admin">Admin Panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/jobseekers">Job Seekers <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <div class="dropdown show">
                        <a class="btn dropdown-toggle" href="/admin/employers" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <a href="/admin/employers">Employers</a>
                        </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/admin/blockedEmployers">Blocked Employers</a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{# if adminname}}
                    {{adminname}}
                    {{else}}
                    Account
                    {{/if}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {{# if adminname}}
                    <a class="dropdown-item" href="/admin/logout">Logout</a>
                    {{else}}
                    <a class="dropdown-item" href="/admin">Login</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </nav>
    <!-- The sidebar -->
    <div class="sidebar">
        <a class="active" href="/admin">Dashboard</a>
        <a href="/admin/status">Usage Status</a>
        <a href="/admin/logout">Logout</a>
    </div>
</header>