<div class="content">

    <div class="jobform">
        <form action="/employers/postJob" method="POST" enctype="multipart/form-data" style="padding-left: 50px; padding: 50px">
            <h3>Post a Job</h3>
            <input name="compName" type="text" id="compName" placeholder="Company Name" required><br><br>
            <input type="text" id="compLocation" name="compLocation" placeholder="Company Location" required><br><br>
            <input type="text" id="jobTitle" name="jobTitle" placeholder="Job Title" required><br><br>
            <input type="text" id="timeSchedule" name="timeSchedule" placeholder="Full Time / Part Time" required><br><br>
            <label for="logofile">Company Logo</label>
            <input type="file" id="logoFile" name="logoFile" required> <br><br>
            <input type="text" id="skills" name="skills" placeholder="Skills Needed" required><br><br>
            <input type="text" id="qualification" name="qualification" placeholder="Qualification" required><br><br>
            <input type="text" id="exp" name="exp" placeholder="Experience Required" required><br><br>
            <input type="text" id="desc" name="desc" placeholder="Description" style="width: 250px; height: 100px" required><br><br>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>

</div>