<div class="content">
    <section>
        <div class="container p-5">
            <embed src="/jobSeekers_CVs/{{id}}.pdf#toolbar=0&navpanes=0&scrollbar=0"
                type="application/pdf" frameBorder="0" scrolling="auto" height="500" width="100%"></embed>
        </div>
    </section>
</div>