body {
    padding: 10px;
    font:  "Arial", Helvetica, Lucida Grande , sans-serif;
    background: rgb(121, 48, 82);
  }
  
  a {
    color: #00B7FF;
  }
  
  /* The side navigation menu */
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: absolute;
    height: auto;
    overflow: auto;
    font-size: larger;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Links on mouse-over Side Navbar */
  .sidebar a:hover:not(.active) {
    background-color: rgb(71, 71, 71);
    color: white
  }
  
  /* Links on mouse-over Top NavBar */
  .navbar a:hover:not(.active) {
    background-color: rgb(71, 71, 71);
    color: white;
  }
  
  .navbar{
    font-size: x-large;
    width: 100%;
  }
  
  .navbar a{
    font-size: x-large;
  
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 170px;
    padding: 1px 16px;
    height: 1000px;
  }

  div.jobform {
    margin-left: 300px;
    width: 350px;
    background-color: wheat
  }

  #jobtable{
    background-color: wheat;
  }

  /* #viewcv{
    width: 100%;
    height: 50%;
  } */