body{
    padding: 0%;
    margin: 10px;
    background-color: #0384fc;
    background-image: url('https://equitystaffing.com/uploads/hero/Job-Seekers-Header3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    padding:0px;
    margin-top: 0%;
    font-size: 25px;
    position: sticky;
    top: 0%;
    width: 100%;
}

.nav-item{
    padding-right: 20px;
}

.card-img-top{
    width: 100px;
    height: 100px;
}

div.content{
    margin: 10px;
    margin-top: 80px;
    background-color: rgb(211, 208, 204);
}

#usertable{
    background-color: rgb(211, 208, 204);
}

.jobDetails{
    background-color: rgb(211, 208, 204);
    width: 50%;
    align-items: center;
    float: none;
    margin-left: 25%;
    margin-top: 2%;
}

.jobcard :hover{
    box-shadow: 8px 8px 8px blue;
    transform: scale(1.1);
    border:3px solid 8px 8px 8px blue;
    transition:.5s;
}

