<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User OTP Verification</title>
    <link rel="stylesheet" href="/stylesheets/nostyle.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <section class="login p-5" style="text-align: center">
        <div class="container col-12"
            style="color:black;border:1px solid;border-radius: 25px ; width: max-content; padding: 30px;align-items: center">
            <h2>User OTP Verification</h2><br>
            <img src="/images/user.jpg" style="width: 100px;height: 60px;">
            <h4>Job Seeker</h4>

            <form action="/otp" method="POST">
                <input type="text" placeholder="Enter the OTP from your mobile" name="otp_input" required><br><br>
                <button type="submit" style="width: 120px;height: 30px;">Submit</button>

        </div>

        </form>
    </section>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>