<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Sign Up</title>
    <link rel="stylesheet" href="/stylesheets/nostyle.css" type="text/css">
</head>

<body>
    <section class="login p-5" style="text-align: center">
        <div class="container"
            style="color:black;border:1px solid;border-radius: 25px ; width: max-content; padding: 30px;align-items: center">
            <h2 style="color: black">New User Sign Up</h2><br>
            <img src="/images/user.jpg" style="width: 100px;height: 60px;">
            <h4>User Credentials</h4>
            {{#if loginmsg}}
                    <h4 class="error" style="color: red">{{loginmsg}}</h4>
            {{/if}}

            <form action="/userSignup" method="POST">
                
                <input type="email" placeholder="User Valid Email ID * " name="userEmail" required><br><br>
                <input type="text" placeholder="Username * " name="userName" required><br><br>
                <input type="password" placeholder="Password * " name="userPwd" required><br><br>
                <input type="tel" placeholder="+971xxxxxxxxx * " name="userMobile" required><br><br>
                <button type="submit" style="width: 120px;height: 30px;">Sign Up</button>
        </div>

        </form>
    </section>
</body>

</html>